/*green*/
@media screen and (max-width:350px) and (min-width:299px) {
    *{
        /*background-color :green   ;*/
    }
    /*中间主体部分开始*/
    #main {
        width: 100%;
        height: 800px;

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 0%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    /*面板主体*/
    #panelbody {
        margin: 3% 0%;
        /*border :1px solid black;*/
    }
    #boxborder {
        width: 100%;
        height :220px;
        /*border: 1px solid black;*/
        margin :0px;
        padding :0px;
    }

    .box1 {
        /*border :1px solid black;*/
        width: 27%;
        height:18%;
        margin: 7% 3%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 35px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 15px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

    /* <!-- 中间主体部分结束 -->*/

}
/*red*/
@media screen and (max-width:400px) and (min-width:350px) {
    *{
        /*background-color :red  ;*/
    }
    /*中间主体部分开始*/
    #main {
        width: 100%;
        /*height: 800px;*/

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 0%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    /*面板主体*/
    #panelbody {
        margin: 3% 0%;
        /*border :1px solid black;*/
    }
    #boxborder {
        width: 100%;
        height :250px;
        /*border: 1px solid black;*/
        margin :0px;
        padding :0px;
    }

    .box1 {
        /*border :1px solid black;*/
        width: 27%;
        height:21%;
        margin: 7% 3%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 35px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 15px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

    /* <!-- 中间主体部分结束 -->*/

}
/*yellow*/
@media screen and (max-width:450px) and (min-width:400px) {
    *{
        /*background-color :yellow  ;*/
    }
    /*中间主体部分开始*/
    #main {
        width: 100%;
        /*height: 800px;*/

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 0%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    /*面板主体*/
    #panelbody {
        margin: 3% 0%;
    }
    #boxborder {
        width: 100%;
        height :320px;
        /*border: 1px solid red;*/
        margin :0px;
        padding :0px;
    }

    .box1 {
        /*border :1px solid red;*/
        width: 27%;
        height:19%;
        margin: 7% 3%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 40px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 20px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

    /* <!-- 中间主体部分结束 -->*/

}
/*gray*/
@media screen and (max-width:500px) and (min-width:450px) {
    *{
        /*background-color :gray  ;*/
    }
    /*中间主体部分开始*/
    #main {
        width: 100%;
        /*height: 800px;*/

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 0%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    /*面板主体*/
    #panelbody {
        margin: 3% 0%;
    }
    #boxborder {
        width: 100%;
        height :320px;
        /*border: 1px solid red;*/
        margin :0px;
        padding :0px;
    }

    .box1 {
        /*border :1px solid red;*/
        width: 27%;
        height:20%;
        margin: 7% 3%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 40px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 20px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

    /* <!-- 中间主体部分结束 -->*/

}
/*black*/
@media screen and (max-width:550px) and (min-width:500px) {
    *{
        /*background-color :black ;*/
    }
    /*中间主体部分开始*/
    #main {
        width: 100%;
        height: 800px;

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 0%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    /*面板主体*/
    #panelbody {
        margin: 3% 0%;
    }
    #boxborder {
        width: 100%;
        height :300px;
        /*border: 1px solid red;*/
        margin :0px;
        padding :0px;
    }

    .box1 {
        /*border :1px solid red;*/
        width: 19%;
        height:20%;
        margin: 7% 7%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 50px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 30px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

    /* <!-- 中间主体部分结束 -->*/

}
/*pink*/
@media screen and (max-width:668px) and (min-width:550px) {
    *{
        /*background-color :pink ;*/
    }
    /*中间主体部分开始*/
    #main {
        width: 100%;
        height: 800px;

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 0%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    /*面板主体*/
    #panelbody {
        margin: 3% 0%;
    }
    #boxborder {
        width: 100%;
        height :410px;
        /*border: 1px solid red;*/
        margin :0px;
        padding :0px;
    }

    .box1 {
        /*border :1px solid red;*/
        width: 19%;
        height:17%;
        margin: 7% 7%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 50px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 30px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

    /* <!-- 中间主体部分结束 -->*/

}
/*orange*/
@media screen and (max-width:700px) and (min-width:668px) {
    *{
        /*background-color :orange ;*/
    }
    /*中间主体部分开始*/
    #main {
        width: 100%;
        height: 800px;

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 0%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    /*面板主体*/
    #panelbody {
        margin: 3% 0%;
    }
    #boxborder {
        width: 100%;
        height :410px;
        /*border: 1px solid red;*/
        margin :0px;
        padding :0px;
    }

    .box1 {
        /*border :1px solid red;*/
        width: 19%;
        height:22%;
        margin: 7% 7%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 50px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 30px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

    /* <!-- 中间主体部分结束 -->*/

}
/*skyblue*/
@media screen and (max-width:768px) and (min-width:700px) {
    *{
        /*background-color :skyblue ;*/
    }
    /*中间主体部分开始*/
    #main {
        width: 100%;
        height: 800px;

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 0%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    /*面板主体*/
    #panelbody {
        margin: 3% 0%;
    }
    #boxborder {
        width: 100%;
        height :410px;
        /*border: 1px solid red;*/
        margin :0px;
        padding :0px;
    }

    .box1 {
        /*border :1px solid red;*/
        width: 19%;
        height:22%;
        margin: 7% 7%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 50px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 30px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

    /* <!-- 中间主体部分结束 -->*/

}
/*red*/
@media screen and (max-width:800px) and (min-width:768px) {
    *{
        /*background-color :red ;*/
    }
    /*中间主体部分开始*/
    #main {
        width: 100%;
        height: 800px;

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 0%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    /*面板主体*/
    #panelbody {
        margin: 3% 0%;
    }
    #boxborder {
        width: 100%;
        height :410px;
        /*border: 1px solid red;*/
        margin :0px;
        padding :0px;
    }

    .box1 {
        /*border :1px solid red;*/
        width: 19%;
        height:22%;
        margin: 7% 7%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 50px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 30px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

    /* <!-- 中间主体部分结束 -->*/

}
/*yellow*/
@media screen and (max-width:850px) and (min-width:800px) {
    *{
        /*background-color :red ;*/
    }
    /*中间主体部分开始*/
    #main {
        width: 100%;
        height: 800px;

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 0%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    /*面板主体*/
    #panelbody {
        margin: 3% 0%;
    }
    #boxborder {
        width: 100%;
        height :410px;
        /*border: 1px solid red;*/
        margin :0px;
        padding :0px;
    }

    .box1 {
        /*border :1px solid red;*/
        width: 19%;
        height:22%;
        margin: 7% 7%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 50px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 30px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

    /* <!-- 中间主体部分结束 -->*/

}
/*pink*/
@media screen and (max-width:920px) and (min-width:850px) {
    *{
        /*background-color :pink ;*/
    }
    /*中间主体部分开始*/
    #main {
        width: 100%;
        height: 800px;

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 0%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    /*面板主体*/
    #panelbody {
        margin: 3% 0%;
    }
    #boxborder {
        width: 100%;
        height :410px;
        /*border: 1px solid red;*/
        margin :0px;
        padding :0px;
    }

    .box1 {
        /*border :1px solid red;*/
        width: 19%;
        height:22%;
        margin: 7% 7%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 50px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 30px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

    /* <!-- 中间主体部分结束 -->*/

}
/* 小屏幕开始 */
@media screen and (max-width:992px) and (min-width:920px) {

    /*中间主体部分开始*/
    #main {
        width: 100%;
        height: 800px;
        background-image: url(../images/usa.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 5% 10%;
        /*border :1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }
    #boxborder {
        width: 100%;
        /*border: 1px solid red;*/
    }

    .box1 {
        width: 90px;
        height: 90px;
        margin: 2% 2%;
        float: left;
    }


    .progress {
        width: 100%;
        height: 50px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 30px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

}
/* 小屏幕结束 */
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media screen and (max-width:1200px) and (min-width:992px) {
    /*中间主体部分开始*/
    #main {
        width: 100%;
        height: 800px;
        background-image: url(../images/usa.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 3% 10%;

        box-shadow: 5px 5px 10px #06C;
    }

    #boxborder {
        width: 100%;
        /*border: 1px solid red;*/
    }

    .box1 {
        width: 110px;
        height: 110px;
        margin: 4% 4%;
        float: left;
    }

    .progress {
        width: 100%;
        height: 50px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 30px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }

}
/* 中等屏幕结束*/
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media screen and (max-width:5000px) and (min-width:1200px) {

    /*中间主体部分开始*/
    #main {
        width: 100%;
        height: 800px;
        background-image: url(../images/usa.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    /*面板内容*/
    #panelcontent {
        margin: 2% 10%;
        /*border: 1px solid red;*/
        box-shadow: 5px 5px 10px #06C;
    }

    #boxborder {
        width: 100%;

    }

    .box1 {
        width: 130px;
        height: 130px;
        margin: 5% 5%;
        float: left;
    }



    .progress {
        width: 100%;
        height: 50px;
        float: left;
        background: #fff;
        border-top: 5px solid #1c2647;
        border-bottom: 5px solid #1c2647;
        border-radius: 0;
        /*margin-bottom: 25px;*/
        overflow: visible;
        position: relative;
    }

    .boxcol {
        width: 8%;
        margin: 5px 1%;
        height: 30px;
        border: 1px double #73c9e3;
        border-radius: 35%;
        background-color: #73c9e3;
        float: left;
    }

    .progress:before,
    .progress:after {
        content: "";
        width: 5px;
        background: #1c2647;
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
    }

    .progress:after {
        left: auto;
        right: -5px;
    }
}
/* 大屏幕结束 */
/*----------------------公共样式开始------------------*/
/*最外层盒子*/

/*超链接无下划线*/
a:link, a:visited {
    text-decoration: none;
}

* {
    text-decoration: none;
    list-style: none;
}

#wrapper {
    width: 100%;
}

/*登陆标题*/
#loginTitle {
    height: 30px;
    line-height: 30px;
}


/*面板主体*/
#panelbody {
    
    margin: 2% 10%;
}

/*列表样式*/
.tab-user {
    width: 50%;
    height: 40px;
    line-height: 20px;
    border-bottom: 1px solid gray;
}
/*删除按钮样式*/
.tab-user > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#box-red {
    background-color: red;
    border:1px solid #3d4444;
}

#box-yellow {
    background-color: yellow;
    border:1px solid #3d4444;
}

#box-gray {
    background-color: gray;
    border:1px solid #3d4444;
}

#box-pink {
    background-color: pink;
    border:1px solid #3d4444;
}

#box-green {
    background-color: green;
    border:1px solid #3d4444;
}

#box-orange {
    background-color: orange;
    border:1px solid #3d4444;
}

#box-purple {
    background-color: purple;
    border:1px solid #3d4444;
}

#box-cyan {
    background-color: cyan;
    border:1px solid #3d4444;
}

.close {
    box-shadow: 0 0 10px 10px rgb(0, 0, 0);
    border: 0px;
}
/*----------------------公共样式结束------------------*/
