<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Operator log</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- 管理页面样式 -->
    <link href="css/administratorLog.css" rel="stylesheet"/>

    <link href="css/jquery.pagination.css" rel="stylesheet"/>
</head>
<body>
<!-- 页面代码开始 -->
<!-- 最外层盒子 -->
<div id="wrapper">
    <!-- 中间主体部分开始 -->
    <div id="main">
        <!--中间容器  -->
        <div class="container">
            <div class="col-md-12 column">
                <!-- 面板内容开始 -->
                <div class="panel panel-default" id="panelcontent">
                    <!-- 面板主体开始 -->
                    <div class="panel-body">
                        <div id="panelbody">
                            <!-- 管理员操作日志开始 -->
                            <form>
                                <h3>Operating log</h3>
                                <hr/>
                                <!-- 响应式表格 -->
                                <div class="table-responsive">
                                    <!-- 表格内容开始 -->
                                    <table class="table col-md-12 column text-center usertable">
                                        <tr class="col-md-12 column  success">
                                            <td class="tab-user">Order</td>
                                            <td class="tab-user">Operator</td>
                                            <td class="tab-user">Time</td>
                                            <td class="tab-user">Operating Type</td>
                                            <td class="tab-user">Parameters</td>
                                        </tr>
                                        <tr class="col-md-12 column ">
                                            <td class="tab-user">1</td>
                                            <td class="tab-user">dzhou</td>
                                            <td class="tab-user">2018-09-09</td>
                                            <td class="tab-user">normal</td>
                                            <td class="tab-user">error</td>
                                        </tr>
                                        <tr class="col-md-12 column ">
                                            <td class="tab-user">2</td>
                                            <td class="tab-user">dzhou</td>
                                            <td class="tab-user">2018-09-09</td>
                                            <td class="tab-user">normal</td>
                                            <td class="tab-user">error</td>
                                        </tr>
                                        <tr class="col-md-12 column ">
                                            <td class="tab-user">3</td>
                                            <td class="tab-user">dzhou</td>
                                            <td class="tab-user">2018-09-09</td>
                                            <td class="tab-user">normal</td>
                                            <td class="tab-user">error</td>
                                        </tr>
                                    </table>
                                    <!-- 表格内容结束-->
                                </div>
                                <!-- 分页开始 -->
                                <div class="col-md-12 column text-center">
                                    <ul class="pagination page">

                                    </ul>
                                </div>
                                <!-- 分页结束 -->

                                <div class="col-md-12">
                                    <a href="oexit" class="return_left col-xs-6 text-left">Logout</a>
                                    <a href="index" class="return_right  col-xs-6 text-right">Control</a>
                                </div>
                            </form>
                            <!-- 用户内容输入框组结束 -->

                        </div>
                    </div>
                    <!-- 面板主体结束 -->
                </div>
                <!-- 面板内容结束 -->
            </div>
        </div>
        <!-- 中间主体部分结束 -->
        <!-- 页面代码结束 -->
    </div>
</div>
<!-- jquery文件 -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.pagination.min.js"></script>
<!-- bootstrap文件 -->
<script src="js/bootstrap.min.js"></script>
<script src="js/date.js"></script>
<script src="js/isl.js"></script>
<script src="js/operator_log.js"></script>

</body>
</html>
