<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>schedule</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- 管理页面样式 -->

    <link href="css/parameters.css" rel="stylesheet" />
    <link href="css/jquery.pagination.css" rel="stylesheet"/>

</head>
<body>
    <!-- 页面代码开始 -->
    <!-- 最外层盒子 -->
    <div id="wrapper">
        <!-- 中间主体部分开始 -->
        <div id="main">
            <!--中间容器  -->
            <div class="container">
                <div class="col-md-12 column">
                    <!-- 面板内容开始 -->
                    <div class="panel panel-default" id="panelcontent">
                        <!-- 面板主体开始 -->
                        <div class="panel-body">

                            <div id="panelbody">
                                <!-- 用户内容输入框组开始 -->
                                <h3>Light Schedule</h3>
                                <hr />

                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="firstname" class="col-sm-3 control-label">Before sunrise</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="beforeSunrise">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstname" class="col-sm-3 control-label">After sunrise</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="afterSunrise">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstname" class="col-sm-3 control-label">Before sunset</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="beforeSunset">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstname" class="col-sm-3 control-label">After sunset</label>
                                        <div class="col-sm-8">
                                            <input type="text"  class="form-control" id="afterSunset">
                                        </div>
                                    </div>
                                    <div class="col-md-12 column text-center">
                                        <button type="button" class="btn btn-primary btn-lg btn-block" id="update">Update</button>
                                    </div>

                                </form>
                                <div class="col-md-12">
                                    <a href="exit" class="return_left col-xs-6 text-left">Logout</a>
                                    <a href="man" class="return_right  col-xs-6 text-right">Manage</a>
                                </div>
                            </div>
                        </div>
                        <!-- 面板主体结束 -->
                    </div>
                </div>
                <!-- 面板内容结束 -->
            </div>
        </div>
        <!-- 中间主体部分结束 -->
        <!-- 页面代码结束 -->
    </div>
   
    <!-- jquery文件 -->
    <script src="js/jquery.min.js"></script>
    <!-- bootstrap文件 -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.pagination.min.js"></script>
    <script src="js/isl.js"></script>
    <script src="js/schedule.js"></script>
</body>
</html>

