<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.madrix.dao.LightControllDao">

    <resultMap id="LightControllRM" type="LightControll">
        <id column="id" property="id"></id>
        <result column="get_time" property="getTime"></result>
        <result column="runraise_time" property="runraiseTime"></result>
        <result column="sundown_time" property="sundownTime"></result>
        <result column="wather" property="wather"></result>
    </resultMap>

    <insert id="insert" parameterType="LightControll">
        insert light_controll(get_time,runraise_time,sundown_time,weather) values(#{getTime},#{runraiseTime},#{sundownTime},#{weather});
    </insert>

    <select id="isNight" resultMap="LightControllRM">
        select * from light_controll where id in (select max(id) from light_controll) and DATE_FORMAT(NOW(),'%H:%i') &gt;= DATE_FORMAT(`runraise_time`,'%H:%i') and DATE_FORMAT(NOW(),'%H:%i') &lt;= DATE_FORMAT(`sundown_time`,'%H:%i')
    </select>

    <select id="findMaxId" resultMap="LightControllRM">
        select * from light_controll where id in (select max(id) from light_controll);
    </select>


</mapper>